<h1><img src="https://bit.ly/2E1b76l" width="300px"></h1>
<p class="giit">A search engine for github accounts</p>

<div class="container">
    <form action="" class="center">
        <div class="for-group">
            <input type="text" placeholder="Enter github username" class="form-control"
            >
        </div>

        <div *ngIf='profile'>
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avatar_url}}" alt="profile" class="img-fluid">
                </div>
                <br>
                <br>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf='profile.bio'>{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf='profile.blog'>{{profile.blog}}</li>
                        <li class="list-group-item" *ngIf='profile.email'>{{profile.email}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <hr>
                        <p>
                            <span class="label" class="btn btn-success">{{profile.followers}} Followers</span>&nbsp;
                            <span class="label" class="btn btn-info">{{profile.following}} Following</span>&nbsp;
                            <span class="label" class="btn btn-primary">{{profile.public_repos}} Repository</span>
                        </p>
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
